# Python(pythonが自動に作るファイル)
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pth
*.pt

# macOS
.DS_Store

# VS Code
.vscode/

# Data
slide_images/
datasets/

# Results
runs/
inference/

# Logs
*.log